#social-media-section{
  border-radius:40px;
  box-shadow: -35px 21px 55px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -35px 21px 55px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -35px 21px 55px 0px rgba(0,0,0,0.75);
  background: #67cd93;


}

#aryamann-description{
  background-color: #559979;
  border-top:4px solid white;
}
.box-styling{
  box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -webkit-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -moz-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  background-color: #85ddb4;
  color:white;
  border:3px solid white;

}

